{% extends 'base.html' %}

{% block content %}
<style>
  .header{
  font-family: 'Mulish'sans-serif;
  line-height: 1.2;
  font-size:19px ;
  color: #0d8ac6;
  font-weight: bold=600;
}
</style>
<div class="card mx-auto mt-5" style="width: 40rem; height: 20rem;">
  <div class="card-header header">
    Forgot password
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>
        We've emailed you instructions for setting your password, if an account exists with the email you entered.
        You should receive them shortly.
      </p>
      <p>
        If you don't receive an email, please make sure you've entered the address you registered with,
        and check your spam folder.
      </p>
      <footer class="blockquote-footer">Thank You</footer>
    </blockquote>
  </div>
{% endblock %}
