{% extends 'base.html' %}

{% block content %}
<style>
  .header{
  font-family: 'Mulish'sans-serif;
  line-height: 1.2;
  font-size:19px ;
  color: #0d8ac6;
  font-weight: bold=600;
}
</style>

<div class="card mx-auto mt-5" style="width: 40rem; height: 15rem;">
  <div class="card-header header">
  
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>
        Your password has been set. You may go ahead and <a href="https://www.seamlessonlineservices.com">www.seamlessonlineservices.com to Login</a> now.
      </p>
      <footer class="blockquote-footer"> Seamless Online Services</footer>
    </blockquote>
  </div>
  {% endblock %}