<div class="page-content">

    <div class="section-content sf-allCaty-info-wrap">
        <div class="container">
            <!--Category Detail Section Start-->
            <div class="section-content">
                <div class="row d-flex flex-wrap align-items-center a-b-none">
                    <div class="col-lg-6 col-md-12">
                        <div class="aon-about-pic">
                            <img src="../assets/images/about-pic.jpg" alt=""/>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <!--Title Section Start-->								
                        <div class="section-head">
                            <!-- <span class="aon-sub-title">About</span> -->
                            <h2 class="sf-title">VISION </h2>
                            <p>To free our clients – individuals, corporates and logistics companies from the hassles faced in RTO Offices and obtain the required service seamlessly in an efficient, transparent, reliable and professional manner at affordable costs.</p>
                             <h2 class="sf-title">MISSION </h2>
                             <p>To work towards the fulfilment of our vision and provide RTO related services to our clients at their doorsteps, And to expand its reach, to strive to deliver these services throughout the country.</p>
                        </div>
                        <!--Title Section End-->
                    </div>
                </div>
            </div>

            <!--Category Detail Section End-->
        </div>
    </div>
    <br>
</div>
