<!-- <div class="footer-top-newsletter">
    <div class="container">
        <div class="sf-news-letter">
            <span>Subscribe Our Newsletter</span>
            <form>
                <div class="form-group sf-news-l-form">
                    <input type="text" class="form-control" placeholder="Enter Your Email"> -->
                    <!-- <button type="submit" class="sf-sb-btn">Submit</button> -->
                <!-- </div>
            </form>
        </div>
    </div>
</div> -->
<footer class="site-footer footer-light" >          
           
    <!-- FOOTER BLOCKES START -->  
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <!-- Footer col 1--> 
                <div class="col-lg-3 col-md-6 col-sm-6  m-b30">
                    <div class="sf-site-link sf-widget-link">
                        <h4 class="sf-f-title">Links</h4>
                        <ul>
                            <li><a href="about">About Us</a></li>
                            <li><a href="/contact">Contact Us</a></li>
                            <li><a href="/jobdetails">Careers</a></li>
                            <li><a href="vision">Vision</a></li>
                            <li><a href="team">Team</a></li>
                            <li><a href="/sitemap">SiteMap</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Footer col 2-->
                <div class="col-lg-3 col-md-6 col-sm-6  m-b30">
                    <div class="sf-site-link sf-widget-cities">
                        <h4 class="sf-f-title">States</h4>
                        <ul>
                            <li><a href="#">Delhi</a></li>
                            <li><a href="#">Karnataka</a></li>
                            <li><a href="#">Maharashtra</a></li>
                            <li><a href="#">Rajasthan</a></li>
                            <li><a href="#">Tamil Nadu</a></li>
                            <li><a href="#">Telangana</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Footer col 1-->
                <div class="col-lg-3 col-md-6 col-sm-6  m-b30">
                    <div class="sf-site-link sf-widget-categories">
                        <h4 class="sf-f-title">Services</h4>
                        <ul>
                            <li><a href="ServiceList">RTO Related</a></li>
                            <li><a href="#">Informative</a></li>
                            <li><a href="terms">Terms & Conditions</a></li>
                            <li><a href="privacy">Privacy Policies</a></li>
                            <li><a href="refund">Cancellation & Refund Policies</a></li>
                            <li><a href="#">Others</a></li>
                        </ul>
                    </div>
                </div>
                
                <!-- Footer col 1-->
                <div class="col-lg-3 col-md-6 col-sm-6  m-b30">
                    <div class="sf-site-link sf-widget-contact">
                        <h4 class="sf-f-title">Contact Info</h4>
                        <ul>

                            <li>+91-80-43706668</li>
                            <!-- <li>+91-8045898847</li> -->
                            <li>4, Ground Flr., 4th Cross, SR Lane,</li>
                            <li>New BEL Rd., RMV 2nd Stage,</li> 
                            <li>Bengaluru, Karnataka</li>
                            <li>contact@seamlessonlineservices.com</li>
                            <li>info@seamlessonlineservices.com</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- FOOTER COPYRIGHT -->
    <div class="footer-bottom">
        <div class="container">
            <div class="sf-footer-bottom-section">
                <div class="sf-f-logo"><a href="javascript:void(0);"><img src="../../../assets/images/Rlogo-dark.png" alt=""></a></div>
                <div class="sf-f-copyright">
                    <img src="../../../assets/images/beta_version.png" width="40" height="18">
                    <span>Copyright 2022 | Seamless Online Services</span>
                </div>
               
                <div class="sf-f-social">
                    <ul class="socila-box">
                        <li><a href="https://twitter.com/SeamlessOnServ"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/people/Seamlessonlineservices/100089485501482/"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/seamless-online-services-735a9a260/"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href=" https://www.instagram.com/seamless_online_services/"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
                
            </div>
        </div>   
    </div>   

</footer> 
<button class="scroltop"><span class="fa fa-angle-up  relative" id="btn-vibrate"></span></button>