<div class="page-content bg-white">
            
    <div class="sf-job-benner sf-overlay-wrapper">
      <div class="banner-job-row">
        <div class="sf-overlay-main" style="opacity:0;"></div>
        <div class="sf-banner-job-heading-wrap">
          <div class="sf-banner-job-heading-area">
            <div class="sf-banner-job-heading-large">RTO Related Services</div><br><br>                   
          </div>
        </div>
      </div>
    </div>            

    <div class="section-content ">
    <!-- Left & right section start -->
    <div class="container">
            <!--Job Information Start-->
            <div class="sf-job-details-fileds sf-job-details-fileds-two">
              <ul class="job-listing-meta meta">
                <li class="location">
                    <div class="sf-job-meta-info" align="center">
                        <h5 class="job-meta-title">Vehicle Related Services</h5><br>
                        
                        <div class="aon-bnr2-search-bar">
                            <form>
                                <div class="aon-bnr2-search-box">
                                    
                                    <div class="aon-search-input category-select">
                                        <select class="aon-bnr2-search-box">
                                          <option class="aon-bnr2-search-box">Select a State Name</option>
                                          <option value="AN">Andaman and Nicobar</option>
                                            <option value="AR">Arunachal Pradesh</option>
                                            <option value="AP">Andhra Pradesh</option>
                                            <option value="AS">Assam</option>
                                            <option value="BR">Bihar</option>
                                            <option value="CH">Chandigarh</option>
                                            <option value="CG">Chhattisgarh</option>
                                            <option value="DL">Delhi</option>
                                            <option value="GA">Goa</option>
                                            <option value="GJ">Gujarat</option>
                                            <option value="HR">Haryana</option>
                                            <option value="HP">Himachal Pradesh</option>
                                            <option value="JK">Jammu and Kashmir</option>
                                            <option value="JH">Jharkhand</option>
                                            <option value="KA">Karnataka</option>
                                            <option value="KL">Kerala</option>
                                            <option value="LA">Ladakh</option>
                                            <option value="MH">Maharashtra</option>
                                            <option value="MN">Manipur</option>
                                            <option value="ML">Meghalaya</option>
                                            <option value="MZ">Mizoram</option>
                                            <option value="NL">Nagaland</option>
                                            <option value="OR">Odisha</option>
                                            <option value="PD">Pondicherry</option>
                                            <option value="PB">Punjab</option>
                                            <option value="RJ">Rajasthan</option>
                                            <option value="SK">Sikkim</option>
                                            <option value="TN">Tamil Nadu</option>
                                            <option value="TR">Tripura</option>
                                            <option value="DD">UT of DNH and DD</option>
                                            <option value="UK">Uttarakhand</option>
                                            <option value="UP">Uttar Pradesh</option>
                                            <option value="WB">West Bengal</option>
                                          
                                        </select>
                                    </div>
                                    <!-- COLUMNS 3 -->
                                    <div class="aon-search-btn-wrap">
                                        <button class="aon-search-btn" type="submit">GO</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        
                    </div>
                </li>
                  <li class="date-posted">
                    <div class="sf-job-meta-info" align="center">
                        <h5 class="job-meta-title">Driving License Related Services</h5><br>
                        
                        <div class="aon-bnr2-search-bar">
                            <form>
                                <div class="aon-bnr2-search-box">
                                    
                                    <div class="aon-search-input category-select">
                                        <select class="aon-bnr2-search-box">
                                          <option class="aon-bnr2-search-box">Select a State Name</option>
                                          <option value="AN">Andaman and Nicobar</option>
                                            <option value="AR">Arunachal Pradesh</option>
                                            <option value="AP">Andhra Pradesh</option>
                                            <option value="AS">Assam</option>
                                            <option value="BR">Bihar</option>
                                            <option value="CH">Chandigarh</option>
                                            <option value="CG">Chhattisgarh</option>
                                            <option value="DL">Delhi</option>
                                            <option value="GA">Goa</option>
                                            <option value="GJ">Gujarat</option>
                                            <option value="HR">Haryana</option>
                                            <option value="HP">Himachal Pradesh</option>
                                            <option value="JK">Jammu and Kashmir</option>
                                            <option value="JH">Jharkhand</option>
                                            <option value="KA">Karnataka</option>
                                            <option value="KL">Kerala</option>
                                            <option value="LA">Ladakh</option>
                                            <option value="MH">Maharashtra</option>
                                            <option value="MN">Manipur</option>
                                            <option value="ML">Meghalaya</option>
                                            <option value="MZ">Mizoram</option>
                                            <option value="NL">Nagaland</option>
                                            <option value="OR">Odisha</option>
                                            <option value="PD">Pondicherry</option>
                                            <option value="PB">Punjab</option>
                                            <option value="RJ">Rajasthan</option>
                                            <option value="SK">Sikkim</option>
                                            <option value="TN">Tamil Nadu</option>
                                            <option value="TR">Tripura</option>
                                            <option value="DD">UT of DNH and DD</option>
                                            <option value="UK">Uttarakhand</option>
                                            <option value="UP">Uttar Pradesh</option>
                                            <option value="WB">West Bengal</option>
                                          
                                        </select>
                                    </div>
                                    <!-- COLUMNS 3 -->
                                    <div class="aon-search-btn-wrap">
                                        <button class="aon-search-btn" type="submit">GO</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="sf-job-meta-info" align="center">
                    <h5 class="job-meta-title">Check Post Tax</h5><br>
                        <div class="aon-bnr2-search-bar">
                            <form>
                                <div class="aon-bnr2-search-box">
                                    <div class="aon-search-input category-select">
                                        <select class="aon-bnr2-search-box">
                                          <option class="aon-bnr2-search-box">Select a Service</option>
                                          <option value="TP">Tax Payment</option>
                                            <option value="PR">Print Payment Receipt</option>
                                            <option value="PT">Pending Transaction</option>
                                            <option value="RD">Receipt Details</option>
                                            <option value="FT">Failed Transaction</option>
                                        </select>
                                    </div>
                                    <!-- COLUMNS 3 -->
                                    <div class="aon-search-btn-wrap">
                                        <button class="aon-search-btn" type="submit">GO</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </li>
                <li class="job-type hourly">
                    <div class="sf-job-meta-info" align="center">
                    <h5 class="job-meta-title">National Permit Authorization</h5><br>
                        <div class="aon-bnr2-search-bar">
                            <form>
                                <div class="aon-bnr2-search-box">
                                    <div class="aon-search-input category-select">
                                        <select class="aon-bnr2-search-box">
                                          <option class="aon-bnr2-search-box">Select a Service</option>
                                          <option value="OP">Online Payment of National Permit</option>
                                            <option value="Check">Check Transaction / Vehicle No/ Bank Ref No Status</option>
                                            <option value="FT">Check Failed Transaction</option>
                                            <option value="PR">Print Receipt</option>
                                            <option value="NP">Print National Permit</option>
                                        </select>
                                    </div>
                                    <!-- COLUMNS 3 -->
                                    <div class="aon-search-btn-wrap">
                                        <button class="aon-search-btn" type="submit">GO</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </li>
                <li class="location">
                    <div class="sf-job-meta-info" align="center">
                        <h5 class="job-meta-title">Trade Certificate</h5><br>
                        <div class="aon-bnr2-search-bar">
                            <form>
                                <div class="aon-bnr2-search-box">
                                    <div class="aon-search-input category-select">
                                        <select class="aon-bnr2-search-box">
                                          <option class="aon-bnr2-search-box">Apply for Trade Certificate</option>
                                          <option value="OP">New Applicant</option>
                                            <option value="Check">Existing Applicant</option>
                                        </select>
                                    </div>
                                    <!-- COLUMNS 3 -->
                                    <div class="aon-search-btn-wrap">
                                        <button class="aon-search-btn" type="submit">GO</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                  </li>
                <li>
                    <div class="sf-job-meta-info" align="center">
                        <h5 class="job-meta-title">eChallan</h5><br>
                        <div>
                        <!--Login-->
                        <button type="button" class="site-button aon-btn-login" data-toggle="modal" data-target="#login-signup-model">
                            <i class="fa fa-user"></i> Login
                        </button>
                       
                    </div>
                    </div>
                </li>
                 <li>
                    <div class="sf-job-meta-info" align="center">
                        <h5 class="job-meta-title">NR Services</h5><br>
                        <div class="aon-bnr2-search-bar">
                            <form>
                                <div class="aon-bnr2-search-box">
                                    <div class="aon-search-input category-select">
                                        <select class="aon-bnr2-search-box">
                                          <option class="aon-bnr2-search-box">Select a Service</option>
                                          <option value="OP">Registration No either full or partial</option>
                                            <option value="Check">Chassis No.</option>
                                            <option value="FT">Engine No.</option>
                                            <option value="PR">Body Type</option>
                                            <option value="NP">Fuel Type</option>
                                            <option value="PR">Color</option>
                                            <option value="NP">Name of Manufacturer</option>													
                                            <option value="NP">Make/Model etc.</option>
                                        </select>
                                    </div>
                                    <!-- COLUMNS 3 -->
                                    <div class="aon-search-btn-wrap">
                                        <button class="aon-search-btn" type="submit">GO</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        
                    </div>
                </li> 
                 <li>
                    <div class="sf-job-meta-info" align="center">
                        <h5 class="job-meta-title">Vehicle Scrapping </h5><br>
                        <div class="aon-bnr2-search-bar">
                            <form>
                                <div class="aon-bnr2-search-box">
                                    <div class="aon-search-input category-select">
                                        <select class="aon-bnr2-search-box">
                                          <option class="aon-bnr2-search-box">Select a Service</option>
                                          <option value="OP">Services for RVSF Owner</option>
                                            <option value="Check">Services for Vehicle Owner</option>
                                        </select>
                                    </div>
                                    <!-- COLUMNS 3 -->
                                    <div class="aon-search-btn-wrap">
                                        <button class="aon-search-btn" type="submit">GO</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </li>
                 <li>
                    <div class="sf-job-meta-info" align="center">
                        <h5 class="job-meta-title">Homologation</h5><br>
                        <!--<p>Certificate for a vehicle of its roadworthy and matching criteria laid out by the government for all vehicles.</p>-->
                                     <div class="aon-btn-pos-center">
                    <a class="site-button" href="#">Download Form</a>
                </div>
                    </div>
                </li>
                
              </ul>
            </div>
            <!--Job Information End-->
        </div>
    </div>  
</div>
