@font-face {
    font-family: GilroySemiBold;
    src: url(./assets/font/Gilroy-SemiBold.ttf);
  }
  @font-face {
    font-family: GilroyRegular;
    src: url(./assets/font/Gilroy-Regular.ttf);
  }
  @font-face {
    font-family: GilroyMedium;
    src: url(/ERP-Project/erpserver/static/rest_framework/fonts/Gilroy-Medium.ttf);
  
  }
  @font-face {
    font-family: GilroyBold;
    src: url(./assets/font/Gilroy-Bold.ttf);
  }
  
  /* You can add global styles to this file, and also import other style files */
  
/*   
  // Theme variables  */
  :root {
    --font-1: 'Raleway';
    --font-2: 'Roboto';
    --font-3: GilroyRegular;
    --font-gilroy-medium: GilroyMedium;
    --font-gilroy-bold: GilroyBold;
    --font-gilroy-semibold: GilroySemiBold;
    --base-color-blue: #1DB5CA;
    --base-color-pink: #E3328B;
    --base-text-color-title: #4A4A4A;
    --base-text-color-body: #666666;
    --base-text-color-in-field: #999999;
    --base-text-color-disable: #CCCCCC;
    --base-text-color-white: #FFFFFF;
    --base-background-color: #F6FEFF;
    --base-background-blue: #1DB5CA;
    --base-background-light-blue: #F7F6FE;
    --base-hover-color: #2F2E38;
  }