<div class="aon-page-benner-area backgroundImage">
        <div class="aon-page-benner-row">
            <div class="sf-overlay-main" style="opacity: 0.8; background-color: #7fba18"></div>
            <div class="sf-banner-heading-wrap">
                <div class="sf-banner-heading-area">
                    <div class="sf-banner-heading-large">
                        <strong>ABOUT US</strong>
                    </div>
                    <div class="sf-banner-breadcrumbs-nav">
                        <ul class="list-inline">
                            <li><a href="index.html">Home</a></li>
                            <li>About Us</li>
                            <li>Company Story</li>
                        </ul>
                    </div>
                    <br>
                    <div>
                        Everyone avails services offered by the government departments frequently – particularly from the RTO – be it obtaining a
                        learners license or a driving license, registering a vehicle or its transfer to someone else. Apart from these there are a
                        few of other services which are offered and availed. With the deployment of technology, many of the government departments
                        have gone digital – including the RTO. While this eliminates the need to physically go to the jurisdictional RTO office to 
                        obtain a service, the need to fill-up online forms still remains and a lot of people including the corporates are not so 
                        comfortable filling-up those forms – owing to lack of knowledge – in many cases. 
                        <br>
                        <strong>Seamless Online Services has been formed to help clients overcome these hassles.</strong><br><br>
		                <strong> We make RTO services available to the common man in his locality – at his doorstep</strong>, <br>
                        through online service delivery, and we ensure, efficiency, transparency, and reliability of these services at affordable 
                        costs. <br><br>
                        <strong>We are a professional agency and we discharge our duties reliably with a sense of accountability. <br>
                        We propose to offer government services in general and RTO services in particular to begin with.</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="aon-why-choose2-area">
        <div class="container">
    
            <div class="aon-why-choose2-box">
                <div class="row">
                    <!-- COLUMNS LEFT -->
                    <div class="col-lg-6 col-md-12">
                        <div class="aon-why-choose-info">
                            <!--Title Section Start-->
                            <div class="section-head">
                                <span class="aon-sub-title">Choose</span>
                                <h2 class="aon-title">Why Choose us</h2>
                                <p>We offer quality and quick service to Individuals, Corporates & Other Companies. We also provide expert consultancy support with utmost convenience to our clients for getting a range of documents from the RTO Offices right at their doorsteps. Our involvement in this helps our clients by making the whole process simple and seamless – which would otherwise take a lot of time and energy.</p>
                            </div>
                            <!--Title Section Start End-->
    
                            <ul class="aon-why-choose-steps list-unstyled">
                                <!-- COLUMNS 1 -->
                                <li class="d-flex">
                                    <div class="aon-w-choose-left aon-icon-effect">
                                        <div class="aon-w-choose-icon"><i class="aon-icon"><img src="assets/images/whychoose/1.png" alt=""></i></div>
                                    </div>
                                    <div class="aon-w-choose-right">
                                        <h4 class="aon-title">Professional</h4>
                                        <p>We are a professionally managed company and affordable too, which functions as a bridge between the clients requiring an RTO related service and their jurisdictional RTO. </p>
                                    </div>
                                </li>
                                <!-- COLUMNS 2 -->
                                <li class="d-flex">
                                    <div class="aon-w-choose-left aon-icon-effect">
                                        <div class="aon-w-choose-icon"><i class="aon-icon"><img src="assets/images/whychoose/2.png" alt=""></i></div>
                                    </div>
                                    <div class="aon-w-choose-right">
                                        <h4 class="aon-title">Accountable</h4>
                                        <p>The culture at Seamless Online Services fosters high integrity and diligence which compels the entire team to discharge their duties carefully and persistently.</p>
                                    </div>
                                </li>
                                <!-- COLUMNS 3 -->
                                <li class="d-flex">
                                    <div class="aon-w-choose-left aon-icon-effect">
                                        <div class="aon-w-choose-icon"><i class="aon-icon"><img src="assets/images/whychoose/3.png" alt=""></i></div>
                                    </div>
                                    <div class="aon-w-choose-right">
                                        <h4 class="aon-title">Reliable</h4>
                                        <p>We offer our services diligently, maintaining high quality consistently and never compromising on it.</p>
                                    </div>
                                </li>
                            </ul>
    
                        </div>
                    </div>
                    <!-- COLUMNS RIGHT -->
                    <div class="col-lg-6 col-md-12">
                        <div class="aon-why-choose2-line">
                            <div class="aon-why-choose2-pic"></div>
                        </div>     
                  </div>
                </div>
            </div>
            
        </div>
    </section>
    