
<div>
    <div class="row justify-content-center">

        <div class="aon-categories-area2-iconbox aon-icon-effect">

            <br>
            <table>
                <tr  class="row justify-content-center">
                    <td>
                        
                        <i class="fa fa-handshake-o" style="font-size:48px;color:#1E90FF"></i>
                        <!-- <i class="fa fa-check-square" style="font-size:58px;color:green"></i> -->
                        <br><hr>
                        <h2>Thank You For Choosing the Service</h2>
                    </td>
                </tr>
            </table>
        </div>
    </div>
<!-- </div> -->
</div>
