<div class="page-content bg-white">
            
    <div class="sf-job-benner sf-overlay-wrapper">
      <div class="banner-job-row">
        <div class="sf-overlay-main" style="opacity: 0;"></div>
        <div class="sf-banner-job-heading-wrap">
          <div class="sf-banner-job-heading-area">
            <div class="sf-banner-job-heading-large">SiteMap</div><br><br>                   
          </div>
        </div>
      </div>
    </div>   
    <div class="section-content ">
    <!-- Left & right section start -->
    <div class="container">
            <!--Job Information Start-->
            <div class="sf-job-details-fileds sf-job-details-fileds-two">
              <ul class="job-listing-meta meta">
                <li class="location">
                    <div class="sf-job-meta-info">
                        <h5 class="job-meta-title"><a href="#">Home Page</a></h5><br>
                        <h5 class="job-meta-title"><a href="/" data-toggle="modal" data-target="#login-signup-model">Login</a></h5>
                    </div>
                </li>
                  <li class="date-posted">
                    <div class="sf-job-meta-info">
                        <h5 class="job-meta-title">About Us</h5><br>
                        <a href="about" target="_self">Company Story</a><br>
                        <a href="vision" target="_self">Vision</a><br>
                        <a href="team" target="_self">Team Profile</a>
                    </div>
                </li>
                <li>
                    <div class="sf-job-meta-info">
                    <h5 class="job-meta-title">Our Services</h5><br>
                        <a href="ServiceList" target="_self">RTO Related Services</a><br>
                        <a href="#" target="_self">Informative Services</a>
                    </div>
                </li>
                <li class="job-type hourly">
                    <div class="sf-job-meta-info">
                    <h5 class="job-meta-title">Careers</h5><br>
                        <a href="jobdetails" target="_self">Job Opening </a>
                    </div>
                </li>
                <li class="location">
                    <div class="sf-job-meta-info">
                        <h5 class="job-meta-title"><a href="contact" target="_self">Contact</a></h5>
                    </div>
                  </li>
                <li>
                    <div class="sf-job-meta-info">
                        <h5 class="job-meta-title">Terms and Policies</h5><br>
                        <a href="terms" target="_self">Terms and Conditions</a><br>
                        <a href="privacy" target="_self">Privacy Policies</a><br>
                        <a href="refund" target="_self">Cancellation & Refund Policies</a>
                    </div>
                </li>
              </ul>
            </div>
            <!--Job Information End-->
        </div>
    </div>  
</div>