
<section class="bg-white aon-categories-area2">
    <!-- <div>
        <h1>about us</h1>
        <p><a>home</a>><a>about us</a>><a>company story</a></p>
    </div> -->
<div class="container">
    <!--Title Section Start-->
    <div class="section-head">
        <div class="row">
            <!-- COLUMNS LEFT -->
            <div class="col-lg-6 col-md-12">
                <span class="aon-sub-title">Categories</span>
                <h2 class="sf-title">RTO Related Services</h2>
            </div>
            <!-- COLUMNS RIGHT -->
            <div class="col-lg-6 col-md-12">
                <p><b>One stop solution for all RTO related Service:
New Driving Licence , Renewal of Driving Licence, Duplicate RC, Vehicle Ownership Transfer, Vehicle NOC, Change of Address, Change of Name,  International Driving Licence, etc.</b> </p>
            </div>
        </div>
    </div>
    <!--Title Section End-->
        
    <div class="section-content">
        <div class="aon-categories-area2-section">
            <div class="row justify-content-center">
                <!-- COLUMNS 1 -->
                <div class="col-lg-5 col-md-6">
                    <div class="media-bg-animate mba-bdr-15">
                        <div class="aon-categories-area2-iconbox aon-icon-effect">
                            <div class="aon-cate-area2-icon">
                                <span>
                                    <i class="aon-icon"><img src="./assets/images/popular-categories-icon/1.png" alt=""></i>
                                </span>
                            </div>
                            <div class="aon-cate-area2-content">
                                <h4 class="aon-tilte"><u>Individuals:</u> <br></h4><h5>Private or Commercial Vehicle Owners</h5>
                                <p>Streamlined Online Services<br> Better User Experience</p>
                            </div>
                        </div>
                    </div>    
                </div>
                <!-- COLUMNS 2 -->
                <div class="col-lg-5 col-md-6">
                    <div class="media-bg-animate mba-bdr-15">
                        <div class="aon-categories-area2-iconbox aon-icon-effect">
                            <div class="aon-cate-area2-icon">
                               <span>
                                    <i class="aon-icon"><img src="./assets/images/popular-categories-icon/3.png" alt=""></i>
                                </span>
                            </div>
                            <div class="aon-cate-area2-content">
                                <h4 class="aon-tilte"><u>Corporates:</u> <br></h4><h5>MNCs / Organisations</h5>
                                <p>Professional, Accountable &amp; <br> Reliable in-time approach</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- COLUMNS 3 -->
                <div class="col-lg-4 col-md-6">
                    <div class="media-bg-animate mba-bdr-15">
                        <div class="aon-categories-area2-iconbox aon-icon-effect">
                            <div class="aon-cate-area2-icon">
                                <span>
                                    <i class="aon-icon"><img src="./assets/images/popular-categories-icon/1a.png" alt=""></i>
                                </span>
                            </div>
                            <div class="aon-cate-area2-content">
                                <h5 class="aon-tilte">Vehicle <br>Manufacturers / Dealers</h5>
                                <!-- <h4 class="aon-tilte"><u>Corporates:</u> <br></h4><h5>Vehicle Manufacturers</h5> -->
                                <p> Transparent, hassle free, <br>timely and legitimate service</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- COLUMNS 4 -->
                <div class="col-lg-4 col-md-6">
                    <div class="media-bg-animate mba-bdr-15">
                        <div class="aon-categories-area2-iconbox aon-icon-effect">
                            <div class="aon-cate-area2-icon">
                                <span>
                                    <i class="aon-icon"><img src="./assets/images/popular-categories-icon/8.png" alt=""></i>
                                </span>
                            </div>
                            <div class="aon-cate-area2-content">
                                <h5 class="aon-tilte">Vehicle <br>Leasing Companies</h5>
                                <!-- <h4 class="aon-tilte"><u>Corporates:</u> <br></h4><h5>Vehicle Leasing Companies</h5> -->
                                <p>Seamless Consultancy Services</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6">
                    <div class="media-bg-animate mba-bdr-15">
                        <div class="aon-categories-area2-iconbox aon-icon-effect">
                            <div class="aon-cate-area2-icon">
                                <span>
                                    <i class="aon-icon"><img src="./assets/images/popular-categories-icon/8a.png" alt=""></i>
                                </span>
                            </div>
                            <div class="aon-cate-area2-content">
                                <h5 class="aon-tilte">Vehicle<br> Finance Companies</h5>
                                <!-- <h4 class="aon-tilte"><u>Corporates:</u> <br></h4><h5>Vehicle Finance Companies</h5> -->
                                <p>A bridge between the <br>clients and the RTO</p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <!-- <div class="row justify-content-center">
      
                <div class="col-lg-4 col-md-6">
                    <div class="media-bg-animate mba-bdr-15">
                        <div class="aon-categories-area2-iconbox aon-icon-effect">
                            <div class="aon-cate-area2-icon">
                                <span>
                                    <i class="aon-icon"><img src="./assets/images/popular-categories-icon/1.png" alt=""></i>
                                </span>
                            </div>
                            <div class="aon-cate-area2-content">
                              
                                <h4 class="aon-tilte"><strong>Individuals</strong></h4>
                                <p>Streamlined Online Services<br> Better User Experience</p>
                            </div>
                        </div>
                    </div>    
                </div>
          
                <div class="col-lg-4 col-md-6">
                    <div class="media-bg-animate mba-bdr-15">
                        <div class="aon-categories-area2-iconbox aon-icon-effect">
                            <div class="aon-cate-area2-icon">
                               <span>
                                    <i class="aon-icon"><img src="./assets/images/popular-categories-icon/3.png" alt=""></i>
                                </span>
                            </div>
                            <div class="aon-cate-area2-content">
                                <h4 class="aon-tilte"><strong>Corporates</strong></h4>                       
                                <p>Professional, Accountable &amp; <br> Reliable in-time approach</p>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="col-lg-4 col-md-6">
                    <div class="media-bg-animate mba-bdr-15">
                        <div class="aon-categories-area2-iconbox aon-icon-effect">
                            <div class="aon-cate-area2-icon">
                                <span>
                                    <i class="aon-icon"><img src="./assets/images/popular-categories-icon/1a.png" alt=""></i>
                                </span>
                            </div>
                            <div class="aon-cate-area2-content">
                                <h4 class="aon-tilte"><strong>Private Vehicle Owners</strong></h4>
                                <p> Transparent, hassle free, <br>timely and legitimate service</p>
                            </div>
                        </div>
                    </div>
                </div>
                
   
                <div class="col-lg-5 col-md-6">
                    <div class="media-bg-animate mba-bdr-15">
                        <div class="aon-categories-area2-iconbox aon-icon-effect">
                            <div class="aon-cate-area2-icon">
                                <span>
                                    <i class="aon-icon"><img src="./assets/images/popular-categories-icon/8.png" alt=""></i>
                                </span>
                            </div>
                            <div class="aon-cate-area2-content">
                                <h4 class="aon-tilte"><strong>Commercial Vehicle Owners</strong></h4>
                                <p>Seamless Consultancy Services</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-5 col-md-6">
                    <div class="media-bg-animate mba-bdr-15">
                        <div class="aon-categories-area2-iconbox aon-icon-effect">
                            <div class="aon-cate-area2-icon">
                                <span>
                                    <i class="aon-icon"><img src="./assets/images/popular-categories-icon/8a.png" alt=""></i>
                                </span>
                            </div>
                            <div class="aon-cate-area2-content">
                                <h4 class="aon-tilte"><strong>Vehicle Finance Companies</strong></h4>
                                <p>A bridge between the clients and the RTO</p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div> -->
            <div class="aon-btn-pos-center">
                <a class="site-button" href="ServiceList">Select Service</a>
            </div>
        </div>
    </div>
    
</div></section>
