<nb-card [size]="'medium'">
    <nb-card-header>Branch List</nb-card-header>
    <nb-card-body>
      <nb-list>
        <nb-list-item *ngFor="let branch of branchs">
          <i class="mr-auto mt-2 mt-lg-0">{{ branch.branch.branch_name }} - {{branch.branch.city }} {{branch.branch.is_head_office ==true?'Head Office':'Branch Office' }}</i>
          <button nbButton (click)="selected_branch(branch.branch)" size="small">Select</button>
        </nb-list-item>
      </nb-list>
    </nb-card-body>
  </nb-card>
