<div class="page-content">
    <div class="section-content sf-allCaty-info-wrap">
        <div class="container">
            <!--Category Detail Section Start-->
            <div class="row">
                <div>
                    <div>
                        <h2>OUR TEAM</h2>
                        <div>
                            <p>The team at Seamless Online Services discharge their duties reliably with a sense of accountability.</p><br>
                            <div><img src="/assets/images/cat1.png" alt=""></div><br>
                        <div class="sf-caty-icon-col">                       
                            <h3>Virendra Agarwal<br></h3>
                            <h4>[CO-FOUNDER & DIRECTOR - OPERATIONS] </h4>
                        </div>
                        <p align="justify"><strong>Mr. Virendra Agrawal is a former Motor Vehicle Inspector, Rajasthan.</strong> He has served in Rajasthan Transport Department from 1996 to 2014 for a period of 18 years. After retirement he started his own transport business. <br>
                            He is the Director of Aravali Cargo Movers Pvt. Ltd. With his vast experience and  communication skills, Aravali Group has expanded with the growing requirement towards cement manufacturing. Recently Aravali group has also started transportation in steel industries.<br>

                        <strong>He is a Co-Founder and a Director in Seamless Online Services Private Limited.</strong>
                        </p><br><br>

                            <div><img src="assets/images/cat2.png" alt=""></div><br>
                            <div class="sf-caty-icon-col">    
                            <h3>Ashfaq Ahamed<br></h3>
                            <h4>[CO-FOUNDER & MANAGING DIRECTOR] </h4>
                        </div>
                        <p align="justify"><strong>He has the privilege of having served 40 fruitful years in the Department Of Transport, Govt. of Karnataka</strong>. He brings in this rich experience into Seamless Online Services Private Limited, through which he aspires to continue to serve the people – even after his retirement, by making available to them RTO related services at their doorstep – seamlessly. He is a member of National Road Safety Council. He is also a U.S.A Certified Crash Investigator. <br>He is very passionate about Road Safety and has travelled to several countries including China, Australia, Switzerland among others, to develop a deeper understanding of the subject. <br><strong>He is a Co-Founder and a Director in Seamless Online Services Private Limited.</strong>
                        </p>
                            <br><br>
                            
                            <div><img src="assets/images/cat3.png" alt=""></div><br>
                            <div class="sf-caty-icon-col">
                            <h3>Meer Khaleeq<br></h3>
                            <h4>[CO-FOUNDER / DIRECTOR - BUSINESS DEVELOPMENT] </h4>
                        </div>
                        <p align="justify">Meer started his career as a Sales Manager in 1998.  With his inherent passion for sports, he volunteered for the 15th Asian Games at Doha in 2006. He quickly rose to prominence as the Liaison Manager for one of the Cricket Leagues in India in 2007. His experiences there led him to collaborate with his friends and in 2009, they co-founded EduSports – India’s No. 1 sports education organization that has brought a rounded sports curriculum to over 1000 schools across India. <br>With the vision of “Sports for All”, Meer has started Sports Infra Solutions to enable everyone to engage in various sporting experiences and make the most of their lives. <br>
                            <strong>He is a Co-Founder and a Director in Seamless Online Services Private Limited.</strong>

                        </p><br>
                        </div>
                    </div>
                </div>
            </div>
            <!--Category Detail Section End-->
        </div>
    </div>
    
    <div class="section-content sf-allCaty-grid-wrap">
        <div class="container">
            <div class="section-content">
            </div>  
        </div>
    </div>
    
</div>