<section class="aon-howit-area2">
<div class="container">

    <div class="aon-howit-area2-section">
        <div class="aon-howit-area2-bg">
            <!--Title Section Start-->
            <div class="section-head aon-title-center white">
                <span class="aon-sub-title">Steps</span>
                <h2 class="sf-title">How It Works</h2>
            </div>
            <!--Title Section Start End-->
            <div class="section-content">
                <div class="aon-categories-area2-section">
                    <div class="row justify-content-center">
                        <!-- Block 1-->
                        <div class="col-lg-4 col-md-6">
                            <div class="aon-howit-area2-iconbox aon-icon-effect">
                                <div class="aone-howit-number">01</div>
                                <div class="aon-howit-area2-icon">
                                    <span>
                                        <i class="aon-icon"><img src="/assets/images/step-icon/2.png" alt=""></i>
                                    </span>
                                </div>
                                <div class="aon-howit-area2-content">
                                    <h4 class="aon-tilte">Select Requirement &amp; Add to Cart</h4>
                                    <p>This helps us determine all the needful tasks well</p>
                                </div>
                            </div>
                        </div>
                        <!-- Block 2-->
                        <div class="col-lg-4 col-md-6">
                            <div class="aon-howit-area2-iconbox aon-howit-arrow aon-icon-effect">
                                <div class="aone-howit-number">02</div>
                                <div class="aon-howit-area2-icon">
                                    <span>
                                        <i class="aon-icon"><img src="/assets/images/step-icon/1.png" alt=""></i>
                                    </span>
                                </div>
                                <div class="aon-howit-area2-content">
                                    <h4 class="aon-tilte">Upload required Documents</h4>
                                    <p>This helps us ascertain and update verification process </p>
                                </div>
                            </div>
                        </div>
                        <!-- Block 3-->
                        <div class="col-lg-4 col-md-6">
                            <div class="aon-howit-area2-iconbox aon-icon-effect">
                                <div class="aone-howit-number">03</div>
                                <div class="aon-howit-area2-icon">
                                    <span>
                                        <i class="aon-icon"><img src="/assets/images/step-icon/3.png" alt=""></i>
                                    </span>
                                </div>
                                <div class="aon-howit-area2-content">
                                    <h4 class="aon-tilte">Pay for Service &amp; Live Smarter</h4>
                                    <p>Get the task done safely and without any hassles</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
</section>