<section class="section-full aon-feature-vender-area2">
<div class="container">
    <!--Title Section Start-->
    <div class="section-head">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <span class="aon-sub-title">Featured Services</span>
                <h2 class="sf-title">Top Listers</h2>
            </div>
            <div class="col-lg-6 col-md-12">
                <p>Commercial and Non Commercial</p>
            </div>
        </div>
    </div>
    <!--Title Section Start-->
    <div class="section-content">
        <div class="owl-carousel aon-vendor-provider-two-carousel aon-owl-arrow">

            <!-- COLUMNS 1 -->
            <div class="item">
                <div class="aon-ow-provider-wrap2">
                    <div class="aon-ow-provider2 shine-hover">

                        <div class="aon-ow-top">
                            <div class="aon-pro-check"><span><i class="fa fa-check"></i></span></div>
                            <div class="aon-pro-favorite"><a href="#"><i class="fa fa-heart-o"></i></a></div>
                            <div class="aon-ow-info">

                                <h4 class="sf-title"><a [routerLink]="['/ServiceShow']" [queryParams]="{'ServiceName':'Driving License Related Services'}">License Related Services</a></h4>
                                <!-- <span>License registration with Contactless process</span> -->

                            </div>
                        </div>
                        <div class="aon-ow-mid">
                            <div class="aon-ow-media media-bg-animate">
                                <a class="shine-box" [routerLink]="['/ServiceShow']" [queryParams]="{'ServiceName':'Driving License Related Services'}"><img src="../../../assets/images/providers/1.jpg" alt=""></a>
                            </div>
                            <p>Apply for Driving Licence, DL Renewal, Duplicate DL, Change of Address, International Driving Permit (IDP), etc.</p>
                            <div class="aon-ow-pro-rating">
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star text-gray"></span>
                            </div>
                            <div class="aon-ow-bottom">
                                <a  class="site-button" [routerLink]="['/ServiceShow']" [queryParams]="{'ServiceName':'Driving License Related Services'}">Learn More</a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <!-- COLUMNS 2 -->
            <div class="item">
                <div class="aon-ow-provider-wrap2">
                    <div class="aon-ow-provider2 shine-hover">

                        <div class="aon-ow-top">
                            <div class="aon-pro-check"><span><i class="fa fa-check"></i></span></div>
                            <div class="aon-pro-favorite"><a href="#"><i class="fa fa-heart-o"></i></a></div>
                            <div class="aon-ow-info">
                                <h4 class="sf-title"><a [routerLink]="['/ServiceShow']" [queryParams]="{'ServiceName':'Vehicle Related Services'}">Vehicle Related Services</a>
                                </h4>
                                <!-- <span>Vehicle related services with Faceless process </span> -->
                            </div>
                        </div>
                        <div class="aon-ow-mid">
                            <div class="aon-ow-media media-bg-animate">
                                <a class="shine-box" [routerLink]="['/ServiceShow']" [queryParams]="{'ServiceName':'Vehicle Related Services'}"><img src="../../../assets/images/providers/2.jpg" alt=""></a>
                            </div>
                            <p>Apply for Vehicle Registration, Fancy Number, National Permit, Dealer Registration, New Permit, PUCC, etc. </p>
                            <div class="aon-ow-pro-rating">
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star text-gray"></span>
                            </div>
                            <div class="aon-ow-bottom">
                                <a [routerLink]="['/ServiceShow']" [queryParams]="{'ServiceName':'Vehicle Related Services'}" class="site-button">Learn More</a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <!-- COLUMNS 3 -->
            <div class="item">
                <div class="aon-ow-provider-wrap2">
                    <div class="aon-ow-provider2 shine-hover">

                        <div class="aon-ow-top">
                            <div class="aon-pro-check"><span><i class="fa fa-check"></i></span></div>
                            <div class="aon-pro-favorite"><a href="#"><i class="fa fa-heart-o"></i></a></div>
                            <div class="aon-ow-info">
                                <h4 class="sf-title"><a>Information Services</a>
                                </h4>
                                <!-- <span>Necessary information for various RTO related services</span> -->
                            </div>
                        </div>
                        <div class="aon-ow-mid">
                            <div class="aon-ow-media media-bg-animat mt-4">
                                <a class="shine-box"><img src="../../../assets/images/providers/3.jpg" alt=""></a>
                            </div>
                            <p>Reference guide and latest updates through our knowledge and expertise <br>with pan India presence.</p>
                            <div class="aon-ow-pro-rating">
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star text-gray"></span>
                            </div>
                            <div class="aon-ow-bottom">
                                <a class="site-button">Learn More</a>
                            </div>
                        </div>
                    </div>
                    
                </div> 
            </div>
           

        </div>
    </div>
    
</div>
</section>
<section class="aon-why-choose2-area">
    <div class="container">

        <div class="aon-why-choose2-box">
            <div class="row">
                <!-- COLUMNS LEFT -->
                <div class="col-lg-6 col-md-12">
                    <div class="aon-why-choose-info">
                        <!--Title Section Start-->
                        <div class="section-head">
                            <span class="aon-sub-title">Choose</span>
                            <h2 class="aon-title">Why Choose us</h2>
                            <p>We offer quality and quick service to Individuals, Corporates & Other Companies. We also provide expert consultancy support with utmost convenience to our clients for getting a range of documents from the RTO Offices right at their doorsteps. Our involvement in this helps our clients by making the whole process simple and seamless – which would otherwise take a lot of time and energy.</p>
                        </div>
                        <!--Title Section Start End-->

                        <ul class="aon-why-choose-steps list-unstyled">
                            <!-- COLUMNS 1 -->
                            <li class="d-flex">
                                <div class="aon-w-choose-left aon-icon-effect">
                                    <div class="aon-w-choose-icon"><i class="aon-icon"><img src="assets/images/whychoose/1.png" alt=""></i></div>
                                </div>
                                <div class="aon-w-choose-right">
                                    <h4 class="aon-title">Professional</h4>
                                    <p>We are a professionally managed company and affordable too, which functions as a bridge between the clients requiring an RTO related service and their jurisdictional RTO. </p>
                                </div>
                            </li>
                            <!-- COLUMNS 2 -->
                            <li class="d-flex">
                                <div class="aon-w-choose-left aon-icon-effect">
                                    <div class="aon-w-choose-icon"><i class="aon-icon"><img src="assets/images/whychoose/2.png" alt=""></i></div>
                                </div>
                                <div class="aon-w-choose-right">
                                    <h4 class="aon-title">Accountable</h4>
                                    <p>The culture at Seamless Online Services fosters high integrity and diligence which compels the entire team to discharge their duties carefully and persistently.</p>
                                </div>
                            </li>
                            <!-- COLUMNS 3 -->
                            <li class="d-flex">
                                <div class="aon-w-choose-left aon-icon-effect">
                                    <div class="aon-w-choose-icon"><i class="aon-icon"><img src="assets/images/whychoose/3.png" alt=""></i></div>
                                </div>
                                <div class="aon-w-choose-right">
                                    <h4 class="aon-title">Reliable</h4>
                                    <p>We offer our services diligently, maintaining high quality consistently and never compromising on it.</p>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
                <!-- COLUMNS RIGHT -->
                <div class="col-lg-6 col-md-12">
                    <div class="aon-why-choose2-line">
                        <div class="aon-why-choose2-pic"></div>
                    </div>     
              </div>
            </div>
        </div>
        
    </div>
</section>
    <!-- <section class="bg-white aon-testimonials-two-area">
        <div class="aon-half-bg"></div>
        <div class="container"> -->
            <!--Title Section Start-->
            <!-- <div class="section-head">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <span class="aon-sub-title">Testimonials</span>
                        <h2 class="aon-title">What People Say</h2>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <p>Testimonials by few of regular clients can be inserted here. Testimonials by few of regular clients can be inserted here.</p>
                    </div>
                </div>
            </div> -->
                
            <!-- <div class="section-content">
                <div class="owl-carousel testimonials-two-carousel-owl aon-owl-arrow"> -->
                    <!-- COLUMNS 1 -->
                    <!-- <div class="item">
                        <div class="aon-test2-item">
                            <div class="aon-test2-pic"><img src="../../../assets/images/testimonials2/pic1.jpg" alt=""/></div>
                            <h3 class="aon-test2-name">Client 1</h3>
                            <div class="aon-test2-position">Corporate Company</div>
                            <div class="aon-test2-text">The experience with Seamless Online Services</div>
                            <div class="aon-test2-animate">
                                <span class="aon-test2-circle1"></span>
                                <span class="aon-test2-square1"></span>
                                <span class="aon-test2-square2"></span>
                                <span class="aon-test2-circle2"></span>
                                <span class="aon-test2-plus">+</span>
                            </div>
                      </div>
                    </div> -->
                    <!-- COLUMNS 2 -->
                    <!-- <div class="item">
                        <div class="aon-test2-item">
                            <div class="aon-test2-pic"><img src="../../../assets/images/testimonials2/pic2.jpg" alt=""/></div>
                            <h3 class="aon-test2-name">Client 2</h3>
                            <div class="aon-test2-position">Individual Car Owner</div>
                            <div class="aon-test2-text">The experience with Seamless Online Services</div>
                            <div class="aon-test2-animate">
                                <span class="aon-test2-circle1"></span>
                                <span class="aon-test2-square1"></span>
                                <span class="aon-test2-square2"></span>
                                <span class="aon-test2-circle2"></span>
                                <span class="aon-test2-plus">+</span>
                            </div>
                      </div>
                    </div> -->
                    <!-- COLUMNS 3 -->
                    <!-- <div class="item">
                        <div class="aon-test2-item">
                            <div class="aon-test2-pic"><img src="../../../assets/images/testimonials2/pic3.jpg" alt=""/></div>
                            <h3 class="aon-test2-name">Client 3</h3>
                            <div class="aon-test2-position">Commercial User</div>
                            <div class="aon-test2-text">The experience with Seamless Online Services</div>
                            <div class="aon-test2-animate">
                                <span class="aon-test2-circle1"></span>
                                <span class="aon-test2-square1"></span>
                                <span class="aon-test2-square2"></span>
                                <span class="aon-test2-circle2"></span>
                                <span class="aon-test2-plus">+</span>
                            </div>
                      </div>
                    </div> -->
                    <!-- COLUMNS 4 -->
                    <!-- <div class="item">
                        <div class="aon-test2-item">
                            <div class="aon-test2-pic"><img src="../../../assets/images/testimonials2/pic1.jpg" alt=""/></div>
                            <h3 class="aon-test2-name">Client 4</h3>
                            <div class="aon-test2-position">End User</div>
                            <div class="aon-test2-text">The experience with RTOManagementServices</div>
                            <div class="aon-test2-animate">
                                <span class="aon-test2-circle1"></span>
                                <span class="aon-test2-square1"></span>
                                <span class="aon-test2-square2"></span>
                                <span class="aon-test2-circle2"></span>
                                <span class="aon-test2-plus">+</span>
                            </div>
                      </div>
                    </div>                    
                </div>
            </div>
            
        </div>
    </section> -->
    <section class="aon-newsletter-area2 py-0">
        <div class="container">
            <div class="aon-newsletter-area2-section">
                <h3 class="aon-title">We empower clients to grow their businesses based on the effective use of technology</h3>				
            </div>
        </div>
    </section>
    <section class="aon-statics-area2">
        <div class="container">

            <div class="aon-statics-area2-section">
                <div class="aon-statics-area2-bg">
                    <!--Title Section Start-->
                    <div class="section-head aon-title-center white">
                        <span class="aon-sub-title">Statistics</span>
                        <h2 class="sf-title">Trusted by people PAN India</h2>
                    </div>
                        
                    <div class="section-content">
                        <div class="aon-statics-blocks2">
                            <div class="row">

                                <!-- COLUMNS 1 -->
                                <div class="col-lg-3 col-md-6 col-6">
                                    <div class="aon-static-section2 aon-t-white2">
                                        <div class="aon-company-static-num2 counter">6</div>
                                        <div class="aon-company-static-name2">+ States</div>
                                    </div>
                                </div>

                                <!-- COLUMNS 2 -->
                                <div class="col-lg-3 col-md-6 col-6">
                                    <div class="aon-static-section2 aon-t-skyblue2">
                                        <div class="aon-company-static-num2 counter">7</div>
                                        <div class="aon-company-static-name2">RTO Related Services</div>
                                    </div>
                                </div>

                                <!-- COLUMNS 3 -->
                                <div class="col-lg-3 col-md-6 col-6">
                                    <div class="aon-static-section2 aon-t-yellow2">
                                        <div class="aon-company-static-num2 counter">70</div>
                                        <div class="aon-company-static-name2">+ Sub Services</div>
                                    </div>
                                </div>

                                <!-- COLUMNS 4 -->
                                <div class="col-lg-3 col-md-6 col-6">
                                    <div class="aon-static-section2 aon-t-green2">
                                        <div class="aon-company-static-num2 counter">128</div>
                                        <div class="aon-company-static-name2">Customers</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    
