<div class="page-content bg-white">
            
    <div class="sf-job-benner sf-overlay-wrapper">
      <div class="banner-job-row">
        <div class="sf-overlay-main" style="opacity:0;"></div>
        <div class="sf-banner-job-heading-wrap">
          <div class="sf-banner-job-heading-area">
            <div class="sf-banner-job-logo-pic"><img src="../../../assets/images/job4.jpg" alt=""></div>
            <div class="sf-banner-job-heading-large">Job Openings</div>
            <ul class="sf-banner-job-dutation">
                <li><i class="fa fa-clock-o"></i> Posted date: <span class="jobs-timing">One Month ago</span></li>
                <li><i class="fa fa-hourglass-o"></i> Expires in: <span class="jobs-date-label">3 months</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>            

    <div class="section-content ">
    <!-- Left & right section start -->
    <div class="container">
            <!--Job Information Start-->
            <div class="sf-job-details-fileds sf-job-details-fileds-two">
              <ul class="job-listing-meta meta">
                <li class="location">
                    <span class="job-meta-icon"><img src="../../../assets/images/job-cin/location.png" alt=""></span>
                    <div class="sf-job-meta-info">
                        <h5 class="job-meta-title">Location:</h5>
                        <span class="job-meta-text"><a class="google_map_link" href="http://maps.google.com" target="_blank">Karnataka, New Delhi</a></span>
                    </div>
                </li>
                <li>
                    <span class="job-meta-icon"><img src="../../../assets/images/job-cin/user.png" alt=""></span>
                    <div class="sf-job-meta-info">
                    <h5 class="job-meta-title">Job Type:</h5>
                    <span class="job-meta-text">Full Time</span>
                    </div>
                </li>
                <li class="job-type hourly">
                    <span class="job-meta-icon"><img src="../../../assets/images/job-cin/brifcase.png" alt=""></span>
                    <div class="sf-job-meta-info">
                    <h5 class="job-meta-title">Sub Type:</h5>
                    <span class="job-meta-text">On Site / Remote </span>
                    </div>
                </li>
                <li class="location">
                    <span class="job-meta-icon"><img src="../../../assets/images/job-cin/tag.png" alt=""></span>
                    <div class="sf-job-meta-info">
                        <h5 class="job-meta-title">Categories:</h5>
                        <span class="job-meta-text">Marketing, Operations, Business Development</span>
                    </div>
                  </li>
                <li>
                    <span class="job-meta-icon"><img src="../../../assets/images/job-cin/clock.png" alt=""></span>
                    <div class="sf-job-meta-info">
                        <h5 class="job-meta-title">Experience:</h5>
                        <span class="job-meta-text">Fresher / 1 Year</span>
                    </div>
                </li>
                <li class="date-posted">
                    <span class="job-meta-icon"><img src="../../../assets/images/job-cin/user.png" alt=""></span>
                    <div class="sf-job-meta-info">
                        <h5 class="job-meta-title">Qualification:</h5>
                        <span class="job-meta-text">Graduate / Post Graduate / MBA</span>
                    </div>
                </li>
              </ul>
            </div>
            <!--Job Information End-->
    
            <div class="row">
                
                 <!-- Left part start -->
                <div class="col-md-12">
                    <!--Job Description Start-->
                    <p>We are looking for bright young leaders for overall in-charge of service operations and exploring partnerships with other Corporates</p><br>
                    
                    <h3><strong>Positions open for:</strong></h3>
                      Head of Operations <br>
                      Business Development <br>
                      Marketing
                      <br><br><br>
                    
                    <h3><strong>Skills Required:</strong></h3>
                    <p>Outcome oriented, <br>
                    Strong problem solving and coordination skills, <br>
                    Good at monitoring compliances, <br>Good flair for data analysis, <br>
                    Highly developed interpersonal skills, <br>
                    Ability to work in a team, and <br>
                    Excellent communication skills</p><br>

                    <h4>Kindly mail your curriculum vitae at <a href="mailto:contact@seamlessonlineservices.com?cc=ebrahim@seamlessonlineservices.com"> contact@seamlessonlineservices.com</a><br></h4>
                    <h5><u>Please mention the interested position in the subject of the email.</u></h5>
                                               
                </div>
                <!-- Left part END -->  
                                      
            </div>
        </div>
    </div>   
        
</div>
